<div
  class="bg-white gap-7 px-8 md:max-w-5xl md:grid-cols-4 max-w-xl mx-auto shadow-xl py-8 rounded-2xl grid grid-cols-1 justify-items-center"
>
  <!-- ip address -->
  <section class="ip__address text-center md:text-left">
    <p class="uppercase text-darkGray text-xs font-bold tracking-widest">
      ip address
    </p>
    <p class="font-medium mt-3 text-veryDarkGray text-2xl">192.212.174.101</p>
  </section>

  <!-- === location === -->
  <section
    class="ip__address text-center md:flex md:items-center md:gap-8 md:text-left"
  >
    <div class="hidden md:block border-l h-[80px]"></div>
    <div>
      <p class="uppercase text-darkGray text-xs font-bold tracking-widest">
        location
      </p>
      <p class="font-medium mt-3 text-veryDarkGray text-2xl">
        Brooklyn, NY 10001
      </p>
    </div>
  </section>

  <!-- === timezone === -->
  <section class="ip__address text-center md:flex md:gap-8 md:text-left">
    <div class="hidden md:block border-r h-[75px] self-center"></div>
    <div class="">
      <p class="uppercase text-darkGray text-xs font-bold tracking-widest">
        Timezone
      </p>
      <p class="font-medium mt-3 text-veryDarkGray text-2xl">UTC -05:00</p>
    </div>
  </section>

  <!--=== isp ===-->
  <section
    class="ip__address text-center md:flex md:gap-8 items-center md:text-left"
  >
    <div class="hidden md:block border-l h-[75px]"></div>
    <div>
      <p class="uppercase text-darkGray text-xs font-bold tracking-widest">
        isp
      </p>
      <p class="font-medium mt-3 text-veryDarkGray text-2xl">
        SpaceX, Starlink
      </p>
    </div>
  </section>
</div>
